<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container my-2">
        <h1>Course List</h1>

        <a th:href="@{/course/add}" class="btn btn-primary btn-sm mb-3"> Add Course </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th> Course ID </th>
                    <th> Course Name</th>
                    <th> Course Capacity </th>
                    <th> Fee </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${courses}">
                    <td th:text="${course.courseId}"></td>
                    <td th:text="${course.courseName}"></td>
                    <td th:text="${course.courseCapacity}"></td>
                    <td th:text="${course.Fee}"></td>
                    
                    
                    <td> <a href="course-edit.html" th:href="@{/course/edit/}+${course.id}" class="btn btn-primary">Update</a>
                        <a href="courses.html" th:href="@{/course/deleteCourse/}+${course.id}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>