<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Student Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <style>
    /* Custom CSS for tab button colors */
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      background-color: lightseagreen;
      color: white;
    }

    .nav-pills .nav-link {
      color: lightseagreen;
    }
    .custom-button {
      background-color: lightseagreen;
      border: none;

      /* Additional styles as needed */
    }
  </style>

</head>
<body>
<!--<nav class="navbar navbar-expand-md bg-dark navbar-dark">-->
<nav class="navbar navbar-expand-md navbar-light" style="background-color: lightseagreen;">
  <!-- Navbar content -->

  <!-- Brand -->
  <a class="navbar-brand" style="color: white; font-size: 30px;">CAPS</a>


  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/students}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/students}">Admin Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/students}">Student Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"  th:href="@{/students}">Lecturer Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <p></p>
        <a class="nav-link active" id="v-pills-ViewCoursesTaught-tab" data-toggle="pill" th:href="@{/courses-taught}" role="tab" aria-controls="v-pills-ViewCoursesTaught" aria-selected="true">View Courses Taught</a>
        <p></p>
        <a class="nav-link active" id="v-pills-View Course Enrolment" data-toggle="pill" href="#v-pills-ViewCourseEnrolment" role="tab" aria-controls="v-pills-ViewCourseEnrolment" aria-selected="true">View Course Enrolment</a>
        <p></p>
        <a class="nav-link active" id="v-pills-Grade a Course" data-toggle="pill" href="#v-pills-Grade a Courese" role="tab" aria-controls="v-pills-GradeACourse" aria-selected="true">Grade a Course</a>
        <p></p>
        <a class="nav-link active" id="v-pills-View a Student Performance" data-toggle="pill" href="#v-pills-ViewAStudentPerformance" role="tab" aria-controls="v-pills-ViewAStudentPerformance" aria-selected="true">View a Student Performance</a>
        <p></p>
        <a class="nav-link active" id="v-pills-Log Out" data-toggle="pill" href="#v-pills-LogOut" role="tab" aria-controls="v-pills-LogOut" aria-selected="true">Log Out</a>

      </div>
    </div>

    <div class="col-9">
      <P>

      </P>
      <div class = "container">
        <div class = "row">
          <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update Lecturer Profile </h1>
            <div class = "card-body">
              <form th:action="@{/Lecturers/{id} (id=${lecturer.id})}" th:object = "${lecturer}" method="POST">
                <div class ="form-group">
                  <label>First Name </label>
                  <input
                          type = "text"
                          name = "firstName"
                          th:field = "*{firstName}"
                          class = "form-control"
                          placeholder="Enter First Name"
                  />
                </div>

                <div class ="form-group">
                  <label> Last Name </label>
                  <input
                          type = "text"
                          name = "lastName"
                          th:field = "*{lastName}"
                          class = "form-control"
                          placeholder="Enter Last Name"
                  />
                </div>
                <div class ="form-group">
                  <label> Birthday </label>
                  <input
                          type = "text"
                          name = "brithday"
                          th:field = "*{birthday}"
                          class = "form-control"
                          placeholder="Enter Birthday"
                  />
                </div>

                <div class ="form-group">
                  <label> Email </label>
                  <input
                          type = "text"
                          name = "email"
                          th:field = "*{email}"
                          class = "form-control"
                          placeholder="Enter Email"
                  />
                </div>
                <div class ="form-group">
                  <label> Contact Number </label>
                  <input
                          type = "text"
                          name = "email"
                          th:field = "*{contactnumber}"
                          class = "form-control"
                          placeholder="Enter Contact Number"
                  />
                </div>
                <div class ="form-group">
                  <label> Address </label>
                  <input
                          type = "text"
                          name = "Address"
                          th:field = "*{address}"
                          class = "form-control"
                          placeholder="Enter address"
                  />
                </div>

                <div class = "box-footer">
                  <button type="submit" class="btn btn-secondary btn-sm mb-3" style="background-color: lightseagreen; border: none; color: white;">
                    Submit
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
</body>
</html>