<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Lecturer Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Lecturer Management System</h1>
        <hr>
        <h2>Add Lecturer</h2>

        <form action="#" th:action="@{/lecturer/save}" th:object="${lecturer}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <fieldset> First Name: <input type="text" th:field="*{firstname}" class="form-control mb-4 col-4"> </fieldset>

            <fieldset> Last Name:<input type="text" th:field="*{lastname}" class="form-control mb-4 col-4"></fieldset>

            <fieldset> Gender:<input type="text" th:field="*{gender}" class="form-control mb-4 col-4"></fieldset>

            <fieldset> Address:<input type="text" th:field="*{address}" class="form-control mb-4 col-4"></fieldset>

            <fieldset> D.O.B:<input type="text" th:field="*{birthday}" class="form-control mb-4 col-4"></fieldset>

            <fieldset> Phone Number:<input type="text" th:field="*{contactnumber}" class="form-control mb-4 col-4"></fieldset>

            <button type="submit" class="btn btn-info col-2">Add Lecturer</button>
        </form>

        <hr>

        <a th:href="@{/lecturer/list}"> Back to Lecturer List</a>
    </div>
</body>

</html>